go 1.25.0

use (
	.
	./examples/benchmark
	./examples/channels
	./examples/concurrency/fan-out-timeout
	./examples/concurrency/scatter-gather
	./examples/concurrency/worker-pool
	./examples/config
	./examples/context
	./examples/datetime-parse
	./examples/embed
	./examples/errgroup
	./examples/errors
	./examples/flags
	./examples/functional-options
	./examples/generics
	./examples/http-client
	./examples/http-server
	./examples/inject
	./examples/iterator
	./examples/oop
	./examples/oop/composition
	./examples/pool
	./examples/profiling
	./examples/recover
	./examples/reflection-bench
	./examples/serialization
	./examples/share-memory-by-communicating
	./examples/slog
	./examples/sync-primitives
	./examples/testing
	./examples/testing-patterns
	./examples/wire
)
