go 1.25.0

use (
	.
	./examples/channels
	./examples/concurrency/fan-out-timeout
	./examples/concurrency/scatter-gather
	./examples/concurrency/worker-pool
	./examples/config
	./examples/context
	./examples/embed
	./examples/errors
	./examples/flags
	./examples/functional-options
)
